* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#ifhh {
    background-image: url('https://raw.githubusercontent.com/tencentbook/tencentbook.github.io/main/1210.jpg');
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.c74917 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}

.c75087 {
    color: rgb(0, 0, 0);
    font-family: "Microsoft YaHei";
    font-size: medium;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
}

.c75344 {
    color: rgb(96, 98, 102);
    font-family: "Joe Font", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, "sans-serif";
    font-size: 15px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
}

.card {
    font-family: Arial, Helvetica, sans-serif;
    width: 320px;
    height: 160px;
}

.skill-meta {
    text-align: justify;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-top: 0px;
    padding-right: 170px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.c77500 {
    color: rgb(96, 98, 102);
    font-family: "Joe Font", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, "sans-serif";
    font-size: 15px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    text-align: start;
}

.c78004 {
    color: rgb(96, 98, 102);
    font-family: "Joe Font", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, Arial, "sans-serif";
    font-size: 15px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-weight: 400;
    text-align: start;
}